<section>
    <h1><%= @recipe.name %></h1>
    <dl class="">
        <dd>Cozinha</dd>
        <dt><%= @recipe.cuisine %></dt>
        <dd>Tipo de comida</dd>
        <dt><%= @recipe.food_type %></dt>
        <dd>Quantas pessoas serve</dd>
        <dt><%= @recipe.portion %></dt>
        <dd>Tempo de preparo</dd>
        <dt><%= @recipe.preparation_time %> minutos</dt>
        <dd>Nivel de dificuldade</dd>
        <dt><%= @recipe.difficulty %>
        </dt>
    </dl>
    <h2>Ingredientes</h2>
    <p><%= @recipe.ingredient %></p>
    <h2>Passo a passo</h2>
    <p><%= @recipe.steps %></p>
</section>
